.deck-container {
  font-family: Georgia, serif;
  font-weight: normal;
  text-transform: none;
  font-size: 1.25em;
  background: #fff;
  text-align: center;
  background-color: #F8F8F8; }
  .deck-container .coder-wrapper {
    background-color: white;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ddd;
    border: 1px solid #f1f1e7;
    padding: 30px 0px; }
  .deck-container .slide-title {
    background: black; }
    .deck-container .slide-title h1 {
      font-size: 5em;
      color: #2ca58f;
      text-transform: none;
      padding-top: 7em; }
  .deck-container .slide-list h2 {
    margin-bottom: .1em; }
  .deck-container .slide-list h3 {
    color: #444444;
    margin-bottom: .3em; }
  .deck-container .slide-list ul {
    margin-left: 1em;
    list-style-type: square;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #2ca58f; }
  .deck-container .slide-list li {
    padding-left: .5em; }
  .deck-container .slide-list p {
    color: #444444;
    line-height: 1.3em;
    padding-bottom: .3em; }
  .deck-container .slide-subhead h1 {
    font-size: 5em;
    position: static;
    margin: 0px;
    padding-top: 2em;
    padding-bottom: 0.25em;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -transform: none;
    -o-transform: none; }
  .deck-container .slide-subhead h3 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: .1em; }
  .deck-container h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    line-height: .9em;
    text-transform: uppercase;
    color: #2ca58f; }
  .deck-container h2 {
    font-size: 3.25em;
    line-height: 1.2em;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #2ca58f;
    border: none;
    letter-spacing: -0.02em;
    word-spacing: .1em; }
  .deck-container h3 {
    font-size: 1.2em;
    font-weight: normal; }
  .deck-container .slide > pre {
    padding: 10px;
    border-color: #f1f1e7;
    background-color: white;
    text-align: left;
    padding: 30px 50px; }
  .deck-container code {
    color: #888; }
  .deck-container blockquote {
    font-size: 2em;
    font-style: italic;
    padding: 1em 2em;
    color: #000;
    border-left: 5px solid #2ca58f; }
    .deck-container blockquote p {
      margin: 0; }
    .deck-container blockquote cite {
      font-size: .5em;
      font-style: normal;
      font-weight: bold;
      color: #888; }
  .deck-container ::-moz-selection {
    background: #2ca58f;
    color: #fff; }
  .deck-container ::selection {
    background: #2ca58f;
    color: #fff; }
  .deck-container a, .deck-container a:hover, .deck-container a:focus, .deck-container a:active, .deck-container a:visited {
    color: #d3a23f;
    text-decoration: none; }
  .deck-container a:hover, .deck-container a:focus {
    text-decoration: underline; }
  .deck-container strong {
    font-weight: normal;
    color: #2ca58f; }
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: #2ca58f;
    font-family: serif; }
    .deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
      color: #fff; }
    .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
      background: #2ca58f;
      text-decoration: none; }
  .deck-container .deck-status {
    font-size: 0.6666em; }
  .deck-container.deck-menu .slide {
    background: #eee; }
  .deck-container.deck-menu .deck-current {
    background: #ddf; }
